.chat-section {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  */
}


.send-message-wrapper {
    padding: 8px 8px;

}

.home .sender {
    background-color: #007bff;
    color: #ffffff;
}

.home .sender h5 {
    color: #ffffff;
}


.messages {
    min-height: 300px;
    max-height: 400px;
    overflow: auto;    
    border-radius: 5px; 
}
.chat-section .h-line {
    /* box-shadow: 0 3px 1px 0 rgba(243, 236, 236, 0.253), 0 6px 20px 0 rgba(199, 192, 192, 0.19); */
    width: 100%;
}


.message-box {
    margin: 5px 3px;
    width: 80%;
}
.send-message-wrapper {
    border-radius: 5px;
    margin-top: 5px;
    padding: 0;
}

.conversation {
    min-height: 400px;
    max-height: 400px;
    overflow: auto;
    scroll-behavior: smooth;
}

.send-button {
    margin-top: 2px;
}

.chat-section {
    
}

.link {
    /* color: #ffffff; */
}