.logo {
    width: 45px;
    height: 45px;
    margin: 1px 6px;
    padding: 0;
}

.active {
    /* border-bottom: 2px solid #333333; */
}

.navbar-brand {
    padding: 0 !important;
}

.nav {
    border-radius: 0 !important;
}


.navbar-form button  {
    font-weight: lighter !important;
    margin-right: 4px !important;
}